*{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav a:active{
    text-decoration: none;
}

#nav{
    background-color: rgb(201, 192, 192);
}

#nav1{
    background-color: #ffffff;
}
#container{
    background-color: rgb(177, 171, 171);
}
#head{
 font-size:20px;
 font-weight: 600;
 color: #000;
}
#nav1{
   color:rgb(5, 162, 214);
   font-size: 16px;
   font-weight: 500;
}

h6{
    font-size: 18px;
    font-weight: 500;
}
p{
    font-size: 18px;
    font-weight: 400;
}

#nav2{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

#head2{
    color: #ffffff;
    font-size: 23px;
    font-weight: 500;
}

h6{
    font-weight: 700;
    font-size: 15px;
}

ul li{
    font-size: 25px;
    font-weight: 500;
}

